@page
@model ProductsModel
@{
    ViewData["Title"] = "About us page";
}

<div class="text-center">
    <h1 class="display-4">Products for sale</h1>
    <hr/>
    <h2>Today's flowers</h2>
    <ol>
        <li>Rose</li>
        <li>Gerbera</li>
        <li>Jasmine</li>
    </ol>
</div>