@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
    </hr>
    <input type="text"name= "username"/> </br>
    <input type="text"name="password"/></br>
    <Button>Login</Button>
</div>
