@{
    ViewData["Title"] = "Register Page";
}

<div class="text-center">
    <h1 class="display-4">Register</h1>
    </hr>
    <input type="text"name= "Username"/> </br>
    <input type="text"name="Password"/></br>
    <input type="text"name="Email"/></br>
    <input type="text"name="Phone No."/></br>
    <Button>Register</Button>
</div>
