@{
    ViewData["Title"] = "Products Index Page";
}

<div class="text-center">
    <h1 class="display-4">Product Details</h1>
    <ol>
        <li>Title: Gerbera</li>
        <li>Description: Wedding flower </li>
        <li>Unit Price: 5 Rs.</li>
        <li>Quantity: 100000</li>
        <li>Likes: 8900</li>
    </ol>
</div>

