@using System.Collections.Generic;
@{
    ViewData["Title"] = "Products Index Page";
}

<div class="text-center">
    <h1 class="display-4">Product Catalog</h1>
    @{
        List<string> products = ViewData["allProducts"] as List<string>;
        <ol>
            @foreach (string title in products)
            {
             <li><a href="products/details/">@title</a></li>   
            }
       </ol>
    }
</div>
