@{
    ViewData["Title"] = "Products Insert Page";
}

<div class="text-center">
    <h1 class="display-4">Insert  new product</h1>
    </hr>
    <input type="text"name= "title"/> </br>
    <input type="text"name=decription/></br>
    <input type="text"name="unitprice"/></br>
    <input type="text"name="quantity"/></br>
    <input type="text"name="likes"/></br>

</div>
