
@{
    ViewData["Title"] = "Contact US Page";
}

<div class="text-center">
    <h1 class="display-4">Contact US</h1>
    <p>Website: @ViewBag.website</p>
    <p> Product Details:   @ViewBag.product.Title </p>
    <p>Age: @ViewBag.age  </p>
</div>