@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">About us</h1>
</div>
<h1> Office </h1>
<p>Transflower learning pvt ltd.</p>
<p>601, Rama Apartment</p>
<p>Walvekar Nagar, Parvati</p>
<p>Pune- 410089</p>


<!--- Razor syntax is resposible for presentation logic in ASP.NET --->
