@{
    ViewData["Title"] = "Contact Page";
}

<div class="text-center">
    <h1 class="display-4">Contact us</h1>
</div>

<p>Our details</p>
<p>Phone No: 7720037983</p>
<p>Email: vish10kapare@gmail.com</p>
