@{
    ViewData["Title"] = "Products list Page";
}

<div class="text-center">
    <h1 class="display-4">Products List</h1>
</div>

<h1>Products Available</h1>
<ol>
    <li>Gerbera</li>
    <li>Lily</li>
    <li>Rose</li>
    <li>Jasmine</li>
</ol>